body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
	width: 500px;
	height: 100px;

}

.buttons {
	width: 150px;
}

.diff {
	margin-top: 50px;
	width: 500px;
	height: 100px;
}

.diff .removed {
	background: #fdd;
}

.diff .added {
	background: #cfd;
}